# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.log
*.pot
*.mo

# Virtual environment
venv/
.env/
.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/dist
/build
.DS_Store

# Logs and editor files
*.log
*.swp
.idea/
.vscode/

# macOS system files
.DS_Store
